
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Gradle
.gradle/
build/
bin/

# IDE specific files
*.iml
*.ipr
*.iws
*.project
*.classpath
*.prefs
.vscode/

# Docker
pgdata/

# Sensitive information
src/main/resources/*
!src/main/resources/static
*.pem
test-local.sh

src/main/java/com/matchalab/trip_todo_api/.deprecated/