services:
  db:
    image: postgres:latest
    container_name: db
    ports:
      - "5432:5432"
    environment:
      - "POSTGRES_DB=travel-todo-db"
      - "POSTGRES_USER=guest"
      - "POSTGRES_PASSWORD=hello_guest"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
